table{
    width: 90%;
    margin: 20px;
    margin-left: 60px;
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        width: 40px;
    }
}
h2{
    text-align: center;
    text-decoration: underline;
    color: rgba(0,0,0,0.5);
}

