
<h2>COVID 19 Dashboard</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Position Column -->
    <ng-container matColumnDef="confirmedCasesForeign">
        <th mat-header-cell *matHeaderCellDef> Confirmed Cases Foreign </th>
        <td mat-cell *matCellDef="let element"> {{element.confirmedCasesForeign}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="confirmedCasesIndian">
        <th mat-header-cell *matHeaderCellDef> Confirmed Cases Indian </th>
        <td mat-cell *matCellDef="let element"> {{element.confirmedCasesIndian}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef> Deaths </th>
        <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="discharged">
        <th mat-header-cell *matHeaderCellDef> Discharged </th>
        <td mat-cell *matCellDef="let element"> {{element.discharged}} </td>
    </ng-container>

    <ng-container matColumnDef="loc">
        <th mat-header-cell *matHeaderCellDef> Loc </th>
        <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
    </ng-container>
    
    <ng-container matColumnDef="totalConfirmed">
        <th mat-header-cell *matHeaderCellDef> Total Confirmed </th>
        <td mat-cell *matCellDef="let element"> {{element.totalConfirmed}} </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    
